<div class="docs-example-viewer-wrapper">
    <div class="docs-example-viewer-title mat-elevation-z2">
        <div class="docs-example-viewer-title-spacer">
            <h2>Book Details</h2>
        </div>
    </div>

  <p>Books Details ..........</p>
    <div class="docs-example-viewer-body" *ngIf="BookDetails$ | async as book">
        <div class="left-div">
            <mat-card-content class="image-card">
                <img class="preview-image" mat-card-image src="/assets/Upload/{{book.coverFileName}}.jpg" alt="No image available">
            </mat-card-content>
        </div>
        <div class="right-div">
            <table class="table">
                <tr>
                    <td><strong>Title</strong></td>
                    <td>{{book.title}}</td>
                </tr>
                <tr>
                    <td><strong>Retail Price</strong></td>
                    <td>{{book.retailPrice}}</td>
                </tr>
                <tr>
                    <td><strong>Cover File Name</strong></td>
                    <td>{{book.coverFileName}}</td>
                </tr>
                <tr>
                    <td><strong>Cost</strong></td>
                    <td>{{book.cost | currency : 'ZAR '}}</td>
                </tr>
            </table>
            <div fxLayoutGap="10px grid">
                <app-addtocart class="mr-2" [bookId]="id"></app-addtocart>
<!--                <app-addtowishlist *ngIf="(userData$ | async).isLoggedIn" [bookId]="id" [showButton]="true">-->
<!--                </app-addtowishlist>-->
<!--                 <app-addtobooksubscription *ngIf="(userData$ | async).isLoggedIn" [bookId]="id" [showButton]="true">-->
<!--                </app-addtobooksubscription>-->

              <app-addtowishlist *ngIf="(userData$ | async)" [bookId]="id" [showButton]="true">
              </app-addtowishlist>
              <app-addtobooksubscription *ngIf="(userData$ | async)" [bookId]="id" [showButton]="true">
              </app-addtobooksubscription>
            </div>
        </div>
    </div>
</div>
