<div class="deleteConfirm" *ngIf="bookData$ | async as bookData">
    <h3 mat-dialog-title>Do you want to delete this item?</h3>
    <div mat-dialog-content>
        <table class="table">
            <tr>
                <td><strong>Book Id</strong></td>
                <td>{{bookData.id}}</td>
            </tr>
            <tr>
                <td><strong>title</strong></td>
                <td>{{bookData.title}}</td>
            </tr>
            <tr>
                <td><strong>Cost</strong></td>
                <td>{{bookData.cost}}</td>
            </tr>
            <tr>
                <td><strong>Cover File Name</strong></td>
                <td>{{bookData.coverFileName}}</td>
            </tr>
            <tr>
                <td><strong>Retail Price</strong></td>
                <td>{{bookData.retailPrice}}</td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="1" mat-raised-button color="warn" tabindex="-1"
            (click)="confirmDelete()">Delete</button>
        <button mat-button (click)="onNoClick()" mat-raised-button>Cancel</button>
    </div>
</div>
